html {
  text-align: center;
}

.main-container {
  margin: auto;
  margin-top: 150px;
}

input[type="date"] {
  width: 185px;
}

table {
  margin: auto;
}

th {
  border: solid black 1px;
  background-color: rgba(128, 128, 128, 0.404);
  padding: 8px;
}

td {
  border: solid black 1px;
  padding: 8px;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}