html {
  text-align: center;
}

.main-container {
  margin: auto;
  margin-top: 150px;
}

input[type="date"] {
  width: 185px;
}

table {
  margin: auto;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}